{% extends 'base.html' %} {% block title %}Login{% endblock %} 

{% block content %}
<h1>Log In</h1>

<div>
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-label") }} {{
      form.username(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-label") }} {{
      form.password(class="form-control") }}
    </div>
    <div class="form-group">{{ form.submit(class="btn btn-primary", id="login-button") }}</div>
  </form>
</div>

{% endblock %}
