{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container-lg">
        <h1>Nutrition Resources</h1>
        
        <p>
            In a world full of information, it's easy to get lost in the weeds. 
            We've compiled a list of resources to help guide you on your journey 
            to understanding your pet's needs better. 

        </p>

        <div class="accordion" id="ResourceAccordion">
            <div class="resource-accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" id="resource-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Worldwide
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#ResourceAccordion">
                <div class="accordion-body">
                    <a href="https://wsava.org/global-guidelines/global-nutrition-guidelines/">
                        World Small Animal Veterinary Association
                    </a>
                    <div class="resource_paragraph">
                        Sets the standard for veterinary nutrition guidelines throughout the world.
                        Their goal is to advance the health and welfare of companion animals.
                    </div>
                </div>
              </div>
            </div>
            <div class="resource-accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed"  id="resource-accordion-us" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  United States
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#ResourceAccordion">
                <div class="accordion-body">
                    test                
                </div>
              </div>
            </div>
            
          </div>
    </div>
{% endblock %}